Include "/etc/awstats/awstats.conf"

LogFile="/var/log/nginx/{{vhost}}_access.log"
LogFormat=1
SiteDomain="{{domains |first}}"
HostAliases="{{domains |join(' ')}}"
LevelForWormsDetection=2
ShowWormsStats=HBL
ShowFileTypesStats=HBC
ShowMiscStats=a
