server_names_hash_bucket_size 64;

server {
    listen 80;
    listen [::]:80;
    server_name {{ jitsi_meet_server_name }};
    return 301 https://$host$request_uri;
}
server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name {{ jitsi_meet_server_name }};

    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_prefer_server_ciphers on;
    ssl_ciphers "EECDH+ECDSA+AESGCM:EECDH+aRSA+AESGCM:EECDH+ECDSA+SHA256:EECDH+aRSA+SHA256:EECDH+ECDSA+SHA384:EECDH+ECDSA+SHA256:EECDH+aRSA+SHA384:EDH+aRSA+AESGCM:EDH+aRSA+SHA256:EDH+aRSA:EECDH:!aNULL:!eNULL:!MEDIUM:!LOW:!3DES:!MD5:!EXP:!PSK:!SRP:!DSS:!RC4:!SEED";

    {% if (jitsi_meet_ssl_cert_path == '' and jitsi_meet_ssl_key_path == '') %}#{% endif %} add_header Strict-Transport-Security "max-age=31536000";

    ssl_certificate {{ jitsi_meet_ssl_cert_path }};
    ssl_certificate_key {{ jitsi_meet_ssl_key_path }};

    add_header Content-Security-Policy "default-src https: 'unsafe-eval' 'unsafe-inline'; object-src 'none'; connect-src 'self'; style-src 'self' data: 'unsafe-inline' 'unsafe-eval';";
    add_header Referrer-Policy "no-referrer-when-downgrade";
    server_tokens off;
    add_header X-Content-Type-Options nosniff;
    #add_header X-Frame-Options SAMEORIGIN;
    add_header X-XSS-Protection "1; mode=block";

    root /usr/share/jitsi-meet;
    index index.html index.htm;
    error_page 404 /static/404.html;

    gzip on;
    gzip_types      text/css text/plain text/xml text/x-component text/javascript application/x-javascript application/javascript application/json application/manifest+json application/xml application/xhtml+xml application/rss+xml application/x-font-ttf font/opentype font/x-woff application/atom+xml image/svg+xml image/x-icon image/vnd.microsoft.icon
    gzip_proxied    no-cache no-store private expired auth;
    gzip_min_length 1000;

    location /config.js {
        alias /etc/jitsi/meet/{{ jitsi_meet_server_name }}-config.js;
    }

    location ~ /.well-known/ {
      allow all;
    }

    location ~ ^/([a-zA-Z0-9=\?]+)$ {
        rewrite ^/(.*)$ / break;
    }

    location / {
        ssi on;
    }

    # BOSH
    location /http-bind {
        proxy_pass      http://localhost:5280/http-bind;
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_set_header Host $http_host;
    }

    # Etherpad-lite
    location ^~ /etherpad/ {
        proxy_pass http://localhost:9001/;
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_buffering off;
        proxy_set_header       Host $host;
    }

    # External API
    location /external_api.js {
        alias /usr/share/jitsi-meet/libs/external_api.min.js;
    }
}
